.login-container {
  background-color: #f0f2f5;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
}
.login_card {
  height: 70vh;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.login_card_content {
  height: 400px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.login_card_form {
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.login_card_form .login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.login_card_form .login-form input {
  padding: 20px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.login_card_form .login-form input::placeholder {
  font-size: 16px;
  font-weight: normal;
}
.login_card_form .login-form .login-button {
  background-color: #1877F2;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}
.login_card_form a {
  text-decoration: none;
  color: #1877F2;
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
.login_card_form .create-account {
  background-color: #42B72A;
  display: inline-block;
  align-self: center;
  outline: none;
  border: none;
  border-radius: 7px;
  padding: 15px 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.login_card_form .tagline {
  text-align: center;
  letter-spacing: 0.7px;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 70px;
}
