<div class="login-container" >
  <br><br><br><br>
  <div class="login_card">
    <mat-card class="login_card_content">
      <mat-card-content class="login_card_form">
        <div  class="login-form">
          <input type = "file" style="display: none" (change)="onFileSelected($event)" #fileInput>
          <button class="login-button" (click)="fileInput.click()">Pick image</button>
          <p *ngIf="isUploaded" style="text-align: center;">{{fileName}} uploaded! </p>
          <input name="description"  [(ngModel)]="description" placeholder="description" required type="text">
          <input name="location" [(ngModel)]="location" placeholder="location" required type="text">
          <input name="tags" [(ngModel)]="tags" placeholder="tags" required type="text">
        </div>
        <br>
        <button class="create-account" (click)="uploadPost()">Upload post</button>
      </mat-card-content>
    </mat-card>
  </div>

</div>


