<div class="login-container" >
  <div class="login_card">
    <mat-card class="login_card_content">
      <mat-card-content class="login_card_form">
        <form #form="ngForm"  class="register-form">
          <label> Old password:</label>
          <input name="oldPassword" ngModel type="password">
          <br>
          <label> New password:</label>
          <input name="newPassword" ngModel type="password">
          <br>
          <label> Confirm new  password:</label>
          <input name="newPasswordConfirm" ngModel type="password">
          <br>
          <button [disabled]="form.invalid || form.pending"
                  class="register-button"
                  *ngIf="!form.pending"
                  type="submit">Change password
          </button>
          <br>
          <a>Forgot password?</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
