<div class="login-container" >
  <div class="login_card">
    <mat-card class="login_card_content">
      <mat-card-content class="login_card_form">
        <form #form="ngForm"  class="register-form">
          <p>Receive notifications for posts:</p>
          <input type="radio" id="yesPosts" name="postNotifications" value="yes">
          <label for="yesPosts">Public</label><br>
          <input type="radio" id="noPosts" name="postNotifications" value="no">
          <label for="noPosts">Private</label><br>
          <hr>
          <p>Receive notifications for comments:</p>
          <input type="radio" id="yesComments" name="commentNotifications" value="yes">
          <label for="yesComments">Yes</label><br>
          <input type="radio" id="noComments" name="commentNotifications" value="no">
          <label for="noComments">No</label><br>
          <hr>
          <p>Receive notifications for messages:</p>
          <input type="radio" id="yesMessages" name="messagesNotifications" value="yes">
          <label for="yesMessages">Yes</label><br>
          <input type="radio" id="noMessages" name="messagesNotifications" value="no">
          <label for="noMessages">No</label><br>
          <hr>
          <button [disabled]="form.invalid || form.pending"
                  class="register-button"
                  *ngIf="!form.pending"
                  type="submit">Change notification settings
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
