<br><Br><Br>
<div class="container">
  <div class="profile">
    <div class="profile-image" *ngIf="!isLocked">
      <!-- TODO get profile pitcure -->
      <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
    </div>
    <div class="profile-user-settings">
      <h2 class="profile-user-name">{{username}}</h2> &nbsp;&nbsp;&nbsp;
      <mat-icon routerLink="upload-post" *ngIf="profile?.verified">verified</mat-icon>

      <div *ngIf="isLogged && !isMe" >
        <div *ngIf="!isFollowed">
          <button class="btn profile-settings-btn" aria-label="profile settings">Follow</button> &nbsp; &nbsp;&nbsp;
          <button *ngIf="profile.receiveMessages" class="btn profile-settings-btn" aria-label="profile settings">Message</button>
        </div>
        <div *ngIf="isFollowed">
          <button class="btn profile-settings-btn" aria-label="profile settings">UnFollow</button> &nbsp; &nbsp;&nbsp;
          <button class="btn profile-settings-btn" aria-label="profile settings">Message</button>
        </div>
      </div>

    </div>
    <div class="profile-stats" *ngIf="!isLocked">
      <ul>
        <li><span class="profile-stat-count">{{profile?.numberOfPosts}}</span> posts</li>
        <li><span class="profile-stat-count">{{profile?.numberOfFollowers}}</span> followers</li>
        <li><span class="profile-stat-count">{{profile?.numberOfFollowing}}</span> following</li>
      </ul>
    </div>
    <div class="profile-bio">
      <div *ngIf="isLocked">
        <p>{{error}}</p>
      </div>
      <p><span class="profile-real-name">{{profile?.name}} {{profile?.surname}}</span> </p>
      <p><span>{{profile?.webSite}}</span></p>
      <p><span>{{profile?.bio}}</span></p>
    </div>
  </div>
</div>


<main>
  <div class="container">
    <div class="gallery" >
      <div class="gallery-item" tabindex="0" *ngFor="let p of posts">
        <app-profile-post [post]="p"></app-profile-post>
      </div>
  </div>
  </div>
</main>
