<br><Br><Br>
<div class="container">
  <div class="profile">
    <div class="profile-image" *ngIf="!isLocked">
      <img src="https://images.unsplash.com/photo-1513721032312-6a18a42c8763?w=152&h=152&fit=crop&crop=faces" alt="">
    </div>
    <div class="profile-user-settings">
      <h1 class="profile-user-name">{{username}}</h1>
      <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
    </div>
    <div class="profile-stats" *ngIf="!isLocked">
      <ul>
        <li><span class="profile-stat-count">{{profile?.numberOfPosts}}3 </span> posts</li>
        <li><span class="profile-stat-count">{{profile?.numberOfFollowers}}2</span> followers</li>
        <li><span class="profile-stat-count">{{profile?.numberOfFollowing}}1</span> following</li>
      </ul>
    </div>
    <div class="profile-bio">
      <div *ngIf="isLocked">
        <p>{{error}}</p>
      </div>
      <p><span class="profile-real-name">{{profile?.name}} {{profile?.surname}}</span> </p>
      <p><span>{{profile?.webSite}}</span></p>
      <p><span>{{profile?.bio}}</span></p>
    </div>
  </div>
</div>


<main>
  <div class="container">
    <div class="gallery" >
      <div class="gallery-item" tabindex="0" *ngFor="let p of posts">
        <app-profile-picture [post]="p"></app-profile-picture>
      </div>
  </div>
  </div>
</main>
