<div class="col-lg-6" >
  <div class="card mb-4" >
    <div class="card-body" >
      <div class="media mb-3">
        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="d-block ui-w-40 rounded-circle" alt="">
        <div class="media-body ml-3">
            <a routerLink="/{{post?.owner}}" class="d-inline-block text-muted ">
              {{post?.owner}}
            </a>
          <div class="text-muted small">{{post?.date | date:'longDate'}}</div>
        </div>
      </div>

      <p>
        {{post?.location}}
      </p>
      <a href="javascript:void(0)" (click)="open(content)" class="ui-rect ui-bg-cover" style="background-image: url({{image}});"></a>
      <div *ngIf="post?.isAlbum">
        <a href="javascript:void(0)" class="d-inline-block text-muted ">
        <mat-icon (click)="albumLeft()">
          arrow_back_ios
        </mat-icon>
        </a>
        <a   class="d-inline-block text-muted" style="position: absolute; left: auto; right: 15px;">
        <mat-icon (click)="albumRight()" >
          arrow_forward_ios
        </mat-icon>
        </a>
      </div>
      <p>
        {{post?.description}}
      </p>
    </div>
    <div class="card-footer">
      <a href="javascript:void(0)" class="d-inline-block text-muted" *ngIf="!isLiked" (click)="likePost()">
        <mat-icon>favorite_border</mat-icon>
      </a>
      <a href="javascript:void(0)" class="d-inline-block text-muted" *ngIf="isLiked" (click)="unLikePost()">
        <mat-icon>favorite</mat-icon>
      </a>
      <a href="javascript:void(0)" class="d-inline-block text-muted" (click)="isCommentInput = !isCommentInput">
      <mat-icon>comment</mat-icon>
      </a>
      <br>
      <a href="javascript:void(0)" class="d-inline-block text-muted">
        <strong>{{post?.NumberOfLikes}}</strong> <small>Likes</small>
      </a>
      <a href="javascript:void(0)" class="d-inline-block text-muted ml-3" (click)="showComments = !showComments">
        <strong>{{post?.numberOfComments}}</strong><small> Comments</small>
      </a>
      <a href="javascript:void(0)" class="d-inline-block text-muted ml-3" (click)="reportPost()">
        <small class="align-middle">Report</small>
      </a>
      <div *ngIf="isCommentInput">
        <input name="phone" [(ngModel)] = "commentInput" placeholder="insert comment" type="text"  (keyup.enter)="addComment()">
      </div>
      <div *ngIf="showComments">
        <div  *ngFor="let comment of post?.comments">
          <p> <b>{{comment?.commentOwnerUsername}}</b> : {{comment?.text}}</p>
        </div>
      </div>
    </div>

  </div>
</div>


<ng-template #content let-modal>
  <app-pop-up-post [post]="post"></app-pop-up-post>
</ng-template>

