<div class="login-container" >
  <div class="login_card">
    <mat-card class="login_card_content">
      <mat-card-content class="login_card_form">
        <form #form="ngForm"  class="register-form">
          <p>Profile privacy:</p>
          <input type="radio" id="public" name="profilePrivacy"  [(ngModel)]="isPrivate" [value]="false">
          <label for="public">Public</label><br>
          <input type="radio" id="private" name="profilePrivacy" [(ngModel)]="isPrivate" [value]="true">
          <label for="private">Private</label><br>
          <hr>
          <p>Receive messages from unfollowed profiles:</p>
          <input type="radio" id="yes" name="receiveMessages" [(ngModel)]="messages" [value]="true">
          <label for="yes">Yes</label><br>
          <input type="radio" id="no" name="receiveMessages"  [(ngModel)]="messages" [value]="false">
          <label for="no">No</label><br>
          <hr>
          <p>Can other profiles tag you:</p>
          <input type="radio" id="yesTag" name="taggable" [(ngModel)]="tag" [value]="true">
          <label for="yesTag">Yes</label><br>
          <input type="radio" id="noTag" name="taggable"  [(ngModel)]="tag" [value]="false">
          <label for="noTag">No</label><br>
          <hr>
          <button  (click)="updateProfile()">Change privacy settings</button>

        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
