<div class="home-container">
  <div class="home__header">
    <div class="home__header__left">
      <mat-icon routerLink="/home">camera_enhance</mat-icon>NistaGram
    </div>
    <div class="home__header__middle">
      <div class="input">
        <mat-icon class="search-icon">search_outline</mat-icon>
        <form>
          <input placeholder="Search NistaGram" type="text">
        </form>
      </div>

    </div>
    <div class="home__header__right">
      <div *ngIf="isLoggedIn">
        <img
          alt=""
          mat-card-avatar>
        <span class="name" routerLink="/{{username}}">{{username}}</span>
      </div>
      <div>
        <mat-icon routerLink="/home">home</mat-icon>
      </div>
      <div *ngIf="isLoggedIn">
        <mat-icon>forum</mat-icon>
      </div>
      <div *ngIf="isLoggedIn">
        <mat-icon routerLink="upload-post">add_a_photo</mat-icon>
      </div>
      <div *ngIf="isLoggedIn">
        <mat-icon routerLink="">notifications</mat-icon>
      </div>
      <div *ngIf="isLoggedIn">
        <mat-icon routerLink="settings">settings</mat-icon>
      </div>
      <div *ngIf="role===1">
        <mat-icon routerLink="">report</mat-icon>
      </div>
      <div *ngIf="role===1">
        <mat-icon routerLink="">verified</mat-icon>
      </div>
      <div *ngIf="role===1">
        <mat-icon routerLink="">feed</mat-icon>
      </div>
      <div *ngIf="role===1">
        <mat-icon routerLink="">manage_accounts</mat-icon>
      </div>
      <div *ngIf="role===2">
        <mat-icon routerLink="">ads_click</mat-icon>
      </div>
      <div *ngIf="role===2">
        <mat-icon routerLink="">personal_video</mat-icon>
      </div>

      <div *ngIf="isLoggedIn">
          <mat-icon (click)="logout()">logout</mat-icon>
      </div>

      <div *ngIf="!isLoggedIn">
        <mat-icon click routerLink="/login">login</mat-icon>
      </div>

      <div *ngIf="!isLoggedIn">
        <mat-icon click routerLink="/register">app_registration</mat-icon>
      </div>

    </div>
  </div>
</div>
